#systemd file
#edit to fit your server and deploy in the correct systemd location:/etc/systemd/system

[Unit]
Description=Mysql logger upload to kafka
After=network.target

[Service]
Type=simple
WorkingDirectory=<CWD>
Environment=PYTHONPATH=<CWD>
ExecStart=<CWD>/venv/bin/python <CWD>/src/kafka_upload.py
TimeoutStopSec=5
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target